

body {
    background: #0e101c;
    font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  #formLogIn {
    max-width: 500px;
    margin: 50px auto;
    font-family: "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }

  #formLogIn form {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
  }
  
  #formLogIn .mb-3{
  width: 100%;
  text-align: left;
  }

  