

.App {
  text-align: center;
  background-color: #616161;
}

.nav-item{
  min-height: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px;
  padding: 0 5px;
  margin: 0 10px !important;
}

.nav-text{
 margin: 0 2px;
}

#allFilmsList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  background-color: #616161;
}

.slick-slider {
  width: 100% !important;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.slick-arrow {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 30px !important;
  margin: 0 20px;
}

.slick-dots {
  display: none !important;
}

.slick-list{
  /* width: 100% !important; */
  display: flex;
  flex-wrap: nowrap;
}

.slick-track {
  width: 100% !important;
  display: flex;
  flex-wrap: nowrap;
}

.slick-slide{
  width:300px !important;
  margin: 0 20px;
}



#film-genres-results{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filmThumbnailsListCarousel{
  background-color: #616161;
  margin: 50px 0;
  overflow: hidden;
}

.filmThumbnailsList{
  width: 100%;
  display: block;
  justify-content:center;
  padding: 20px;
}

.filmThumbnailCard {
  background-color:#616161;
  z-index: 2;
  position: relative;
  margin: 0 20px !important;
}

.filmThumbnailTitle{
    color: black;
    font-size: max(10px,1vw) !important;
    font-weight: bold !important;
    margin: 3px !important;
    text-align: left;
    height: 64px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.filmThumbnailDescription{
    color: black;
    font-size: 10px !important;
    margin: 3px !important;
    text-align: justify;
    height: 72px;
    overflow: hidden;
}

#filmDetails {
  width:100%;
  height:100vh;
}

#filmDetails .filmDetailsBody {
  display: flex;
  flex-wrap: wrap;
  padding: 0px; 
}

#filmDetails .filmDetailsBody .filmDetailsBody_header{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
}
#filmDetails .filmDetailsBody .filmDetailsBody_header .filmDetailsBody_image{
  width: 100% !important;
  border: 1px solid;
  min-height:300px;
  color:black
}

#filmDetails .filmDetailsBody .filmDetailsBody_header .filmDetailsBody_title {
  width: 100% !important;
  border: 1px solid;
  padding: 0px; 
  margin: 0px;
}

#filmDetails .filmDetailsBody .filmDetailsBody_description{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filmDetails .filmDetailsBody_description .description,
#filmDetails .filmDetailsBody_description .episode-guide
{
  border:1px solid;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

#filmDetails  .description-type, .description-genre, .description-cast, .description-content{
  border: 1px solid;
  text-align: left;
  min-height: 40px;
  margin: 10px 0;
}

#filmDetails  .episode-guide-title, .season-name, .episode-name, .trailer{
  text-align: left;
}

#filmDetails  .season-name{
font-weight: bold;
}

#video-player .video-body{
  min-height: 400px;
  border: 1px solid #fff;
  margin: 20px 0;
}

#video-player .video-screen{
  min-height:400px;
  padding:0;
  border: 1px solid #fff;
}

#video-player  .video-content{
  min-height: 300px;
  margin:0px;
  padding: 0px;
  border: 1px solid #fff;
}

#video-player  .video-button{
  min-height:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#video-player .button{
  font-size: 50px;
  margin: 0 10px;
  color:#fff;
}

#video-player .selection-group{
  margin: 20px 0;
}

#video-player .selection-screen{
  color:white;
  text-align: left;
  overflow: hidden;
}

#video-player .accordion-button{
  background-color: black !important;
  color: white !important;
}

#video-player .accordion-item{
  background-color: black;
  color: white;
}