

.App {
  text-align: center;
}

.filmThumbnailsListCarousel{
  background-color: #616161;
}

.filmThumbnailsList{
  display: flex;
  justify-content:center;
}

.filmThumbnailCard {
  background-color:#616161;
  z-index: 2;
  position: relative;
  margin: 0 10px;
}

.filmThumbnailTitle{
    color: darkblue;
    font-weight: bold;
    margin-bottom: 1;
    margin-top: 1;
    text-align: center;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center
}

.filmThumbnailDescription{
    color: darkblue;
    font-size: 12px;
    margin-top: 1;
    margin-bottom: 1;
    text-align: justify;
    height: 72px;
    overflow: auto
}