body{
  background-color: #616161 !important;
}

.App {
  text-align: center;
  background-color: #616161 !important;
}

#app-bar{
  background-color: #212121 !important;
  margin-bottom: 50px;
}

.nav-item{
  min-height: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 10px !important;
}

.nav-item:hover {
  background-color: #fffacd;
  color: black;
}

.nav-text{
 margin: 0 2px;
}

#allFilmsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: #616161;
}

#allFilmsList .welcome-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #FFA500;
  font-family: 'Gill Sans', 'Trebuchet MS';
  font-size: max(20px,2vw);
  margin: 30px 10px 30px 10px;
}

.slick-slider {
  width: 100% !important;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.slick-arrow {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 30px !important;
  margin: 0 20px;
}

.slick-dots {
  display: none !important;
}

.slick-list{
  /* width: 100% !important; */
  display: flex;
  flex-wrap: nowrap;
}

.slick-track {
  width: 100% !important;
  display: flex;
  flex-wrap: nowrap;
}

.slick-slide{
  width:300px !important;
  margin: 0 20px;
}


#film-genres-results{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filmThumbnailsListCarousel{
  background-color: #616161;
  margin: 50px 0;
  overflow: hidden;
}

.filmThumbnailsList{
  width: 100%;
  display: block;
  justify-content:center;
  padding: 0px;
}

.filmThumbnailCard {
  background-color:#616161;
  z-index: 2;
  position: relative;
  margin: 0 20px !important;
}

.filmThumbnailTitle{
    color: black;
    font-size: max(10px,0.8vw) !important;
    font-weight: bold !important;
    margin: 3px !important;
    text-align: left;
    /* height: 30px !important; */
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis
}

.filmThumbnailDescription{
    color: black;
    font-size: 10px !important;
    margin: 3px !important;
    text-align: justify;
    height: 72px;
    overflow: hidden;
}

#filmDetails {
  width:100%;
  height:100vh;
  margin-bottom: 20px;
}

#filmDetails .filmDetailsBody {
  display: flex;
  flex-wrap: wrap;
  padding: 0px; 
  color:#fff !important;
}

#filmDetails .filmDetailsBody .filmDetailsBody_header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#filmDetails .filmDetailsBody .filmDetailsBody_header .filmDetailsBody_image{
  width: min(300px,100%) !important;
  height:300px;
}

#filmDetails .filmDetailsBody .filmDetailsBody_title {
  width: 100% !important;
  padding: 10px; 
  margin: 0px;
  font-weight: bold;
  font-size: max(14px,1.5vw);
  background-color: #212121;
  border-bottom: 3px solid;;
}

#filmDetails .filmDetailsBody .filmDetailsBody_description{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #212121 ;
}

#filmDetails .filmDetailsBody_description .description
{
  border-right: 3px solid white !important;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: max(12px,1.2vw);
} 

#filmDetails .filmDetailsBody_description .episode-guide 
{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:flex-start;
  font-size: max(12px,1.2vw);
} 

#filmDetails .filmDetailsBody_description .episode-guide .episode-guide-title{
  font-weight: bold;
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
}

#filmDetails .filmDetailsBody_description .episode-guide .season-name{
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
}

#filmDetails  .description-companies, .description-genre, .description-cast, .description-content{
  text-align: left;
  min-height: 40px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
}

#filmDetails  .episode-guide-title, .season-name, .episode-name, .trailer{
  text-align: left;
}

#filmDetails  .season-name{
font-weight: bold;
}

#video-player .video-body{
  min-height: 400px;
  margin: 20px 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

#video-player .video-screen{
  min-height:400px;
  padding:0;
  display: flex;
  align-content: center;
  justify-content: center;
}

#video-player  .video-content{
  min-height: 400px;
  margin:0px;
  padding: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#video-player .selection-group{
  margin: 20px 0;
}


.wrapper {
  width:100%;
}

.MuiPagination-ul{
  display:flex;
  flex-wrap: nowrap !important;
  align-content: center;
  justify-content: center;
}
